/*stylesheet*/

/* vars */
:root {
  --base-font-size: 16px;
  --fluid-typography-ratio: 0.9;
}

body{
	margin: 0;
	background-color: #2e1d23;
	color: black;
	font-family: 'Source Code Pro', monospace;
}

h1 {
  font-family: herencia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
	font-family: herencia, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: white;
	margin: 50px;
	margin-bottom: 10px;
}

p {
	font-size: 15px;
	color: white;
	margin: 2em;
	margin-top: 8px;
	margin-bottom: 10px;
	text-align: left;
}

a:focus,button:focus,input:focus,textarea:focus {outline: none;}


.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
 	padding: 0;
 	margin-bottom: 3em;
}

/* Masthead */
#masthead {
	background-color: white;
	padding: 0;
	margin: 0;
	
} 

#nav {
	background-color: white;
	padding: 0;
	margin: 0;

}

.nav-menu {
}

#masthead .nav-menu a {
	color: black;
	text-decoration: none;
	font-size: .7em;
	margin-left: 10px;
}

#masthead .nav-menu a:hover, #nav .nav-menu a.active {
  text-decoration: underline;
  color: #2e1d23;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: herencia, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 350%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-family: herencia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
}

#portrait {
	position: relative;
}

#portrait img {
	width: 40%;
	height: auto;
	display: block;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}


#nav .nav-menu {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav .nav-menu a {
  color: #000;
  text-decoration: none;
}

#nav .nav-menu a:hover, #nav .nav-menu a.active {
  text-decoration: underline;
}

/* Slider */

#slider {
  overflow: hidden;
  margin-bottom: 3rem;
  margin-top: 3rem;
  height: 50%;
  width: auto;
}

#slider .prev, #slider .next {
  position: absolute;
  z-index: 2;
  margin: 1rem;
  font-size: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  display: block;
  width: 100%;
  height: auto; 
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev span, .next span {
  cursor: pointer;
  display: flex;
  background: none;
  color: white;
}

#slider img {
  display: block;
  height: auto;
  width: 100%;
}

/*photo grid*/
#photos {
  position: relative;
  margin-bottom: 2em;
}

#photos .grid {
  grid-gap: .5em;
}

#photos .grid img {
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

/*videos*/
#content .videos {
	display: block;
	align-items: center;
  	justify-content: center;
  	position: absolute;
  	margin-left: 2em;
}

#content .videos a{
  	position: relative;
  	justify-content: center;
  	align-items: center;
  	margin: 0;
}


/* media queries */
@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 0rem;
  }

  #logo #logo-holder {
    justify-content: center;
  }

  #logo a {
  	width: 25%;
  }

}

@media all and (min-width: 700px) { 
  
  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
  }

}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

}


